<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    metadata-complete="false"
    version="2.5">

    <display-name>Kwok Information Server</display-name>
    <description>Kwok Information Server</description>

    <!-- This is for distribution session across Tomcat cluster -->
    <distributable/>

    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>trimSpaces</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>keepgenerated</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
      <servlet-name>SystemInitServlet</servlet-name>
        <servlet-class>com.kwoksys.framework.servlets.SystemInitServlet</servlet-class>
      <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- Struts 2 -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
		<dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <!-- Block jsp folder access -->
    <filter>
    	<filter-name>JspDirectoryFilter</filter-name>
    	<filter-class>com.kwoksys.framework.servlets.JspDirectoryFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>JspDirectoryFilter</filter-name>
    	<url-pattern>/jsp/*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <!-- Needed for both development environment and distribution to work -->
		<taglib>
		    <taglib-uri>http://www.kwoksys.com/tags</taglib-uri>
		    <taglib-location>/jsp/kwok-tag.tld</taglib-location>
		</taglib>
	</jsp-config> 

	<!-- Error Pages -->
    <error-page>
		<error-code>404</error-code>
		<location>/home/page-not-found.htm</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/common/errorpages/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/jsp/common/errorpages/503.jsp</location>
	</error-page>
</web-app>
